*{ margin: 0;
    padding:0;
    box-sizing:border-box
}

body {font-family: "Epilogue", sans-serif;
    font-weight: "500";
background-color:whitesmoke;}


.menu_bar { background-color: whitesmoke;
           color: Almost Black hsl(0, 0%, 8%);
            height:80px;
            width:50%;
            display:flex;
            align-items: center;
            justify-content:flex-start;
            padding: 0 5%;
             }

.login  { margin-left: 450px;}

.logo {margin-left: 10px; font-size: 30px; height: 40px; width: 40px;  }



.menu_bar ul { list-style: none;
                display:flex; cursor: pointer;  }

.menu_bar ul li {padding:10px 30px;
                position: relative;}

.menu_bar ul li a { color:black; 
                 text-decoration: none;
                font-size: 15px;
                transition: all 0.3s;}

.menu_bar ul li a:hover {color: Medium Gray hsl(0, 0%, 41%)}

.dropdown_menu {display:none}

.menu_bar ul li:hover .dropdown_menu {
    display:block;
    position:absolute;
    left:0; 
    top:100%;
    background-color:white; border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.menu_bar ul li:hover .dropdown_menu ul {
    display:block; 
    margin:10px}

.menu_bar ul li:hover .dropdown_menu ul li { 
        width: 120px; 
        padding: 10px;}

.menu_bar ul li a:hover .dropdown_menu ul li  { 
            width:120px; 
            padding: 10px;}

button {height:50px; margin-top: 50px;
    width: 130px; 
    font-size:15px ; 
    font-weight: bold;
    color: white ;
    background-color: black;
    border-radius: 12px;
    cursor:pointer;}


    button:hover {height:50px; 
        width: 130px; 
        font-size:15px ; 
        font-weight: bold;
        color: black ;
        background-color: whitesmoke;
        border-radius: 12px;
        cursor:pointer;}


    .Register-button {border: 2px solid  black; padding:10px; border-radius: 12px;}




    /*
    .epilogue-<uniquifier> {
      font-family: "Epilogue", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    } */



.hero { height:600px; width: 450px;
    float: right; 
    margin: 100px;
    margin-top: -20px;
}
    
.content { margin:100px; line-height: normal;}

.paragraph {font-size: 18px; color: Medium gray hsl(0, 0%, 41%);}

.bottomIcons {margin-left: 50px;  display: flex; height: 20px;;}



@media screen and (max-width: 398px) {

    .logo{font-size: 30px;padding:50px}

    .menu_bar ul li a { color:black; 
        text-decoration: none;
       font-size: 16px;
       transition: all 0.3s;}

       .menu_bar ul li:hover .dropdown_menu ul {
        display:block; 
        margin:10px}

      .menu-button  {display: block;}

      .ul{position: fixed;width:100%;background-color: aquamarine;}

}









